/* variable */
/* reset */
* {
  margin: 0;
  padding: 0;
}
*::before,
*::after {
  box-sizing: border-box;
}
/* base styles */
img {
  display: block;
}
a {
  text-decoration: none;
}
ul li {
  list-style: none;
}
body {
  font-family: "Roboto", sans-serif;
}
/* utility class */
/* start */
.dashBoard {
  width: 40%;
  min-height: 100vh;
  background: radial-gradient(at top right, #0b1682, #4d57bf);
  padding: 20px 0px 70px 0px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  transition: all 0.3s linear;
  transform: translate(-100%);
}
.dashboard--logo > img {
  width: 6.25rem;
  margin-left: 1.25rem;
  margin-bottom: 30px;
}

.d-flex img {
  width: 1rem;
}
.d-flex {
  display: flex;
  justify-content: left;
  align-items: center;
  color: #fff;
  padding: 0.5rem;
  margin-top: 0.5rem;
  margin-left: 1.8rem;
  margin-right: 0.5rem;
}
.d-flex > a {
  font-size: 0.75rem;
  margin-left: 0.625rem;
  text-align: left;
}
.sidebar-toggle {
  position: fixed;
  top: 2rem;
  right: 3rem;
  font-size: 1rem;
  background: transparent;
  border-color: transparent;

  transition: all 0.3s linear;
  cursor: pointer;
  animation: bounce 2s ease-in-out infinite;
}
.show-sidebar {
  transform: translate(0);
}
.close-btn {
  display: flex;

  font-size: 1rem;
  background: transparent;
  border-color: transparent;

  transition: all 0.3s linear;
  cursor: pointer;
}
.close {
  display: flex;
  justify-content: flex-end;
}
.active,
.dashBoard-items ul li:hover {
  background: #4d57bf;
  border-radius: 3px;
}
.sub-menu {
  font-size: 0.75rem;
  display: none;
  color: #0b1682;
  border-radius: 3px;
  width: 5rem;
  padding: 0.5rem 1rem 1rem 1rem;
  box-shadow: 0px 1px 10px 0px #0000001a;
}
.sub-menu ul li {
  padding: 0.5rem 1rem;

  border-bottom: 1px solid #0b1682;
  text-align: center;
  margin-top: 10px;
}
.dashBoard-items ul li:hover .sub-menu {
  display: block;
  position: absolute;
  background-color: #fff;
  margin-left: 3.5rem;
  margin-top: 6rem;
}
/* media query */
@media screen and (min-width: 25rem) {
  .dashBoard {
    width: 35%;
  }
}
@media screen and (min-width: 49rem) {
  .dashBoard {
    width: 20%;
    transform: translate(0);
  }
  .sidebar-toggle {
    display: none;
  }
  .close-btn {
    display: none;
  }
  .sub-menu {
    width: 7rem;
  }
  .dashBoard-items ul li:hover .sub-menu {
    margin-left: 5.5rem;
  }
}
@media screen and (min-width: 62rem) {
}
